@import './../../../components/styles/Constants.scss';

.base-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gap;
    box-shadow: $insetBorderShadow;
    max-width: 100%;
    padding: $basePadding;
    border-radius: $buttonBorderRadius;
    min-height: 100px;

    .base-container {

    }
    .base {
        
        box-shadow: $baseLikeShadowNormal;
        &:hover {
            transform: scale(1.05);
        }
    }
}
