@import './../../../components/styles/Constants.scss';

@keyframes animate-container-visible {
    0% {
        max-height: 8px;
    }
    100% {
        max-height: 10000px;
    }
}


@keyframes animate-container-hidden {
    0% {
        max-height: 500px;
        visibility: initial;
    }
    
    100% {
        max-height: 8px;
        visibility: hidden;
    }
}


.outer-container {
    display: flex;
    max-height: 100%;
    flex-direction: column;
    border-radius: $borderRadius;
    background-color: $lightPrimaryColor;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 1;
        padding: $headerPadding;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        background-color: $PrimaryColor;
        box-shadow: $underShadow;

        &-title {
            flex: 1;
            display: flex;
            margin: 0px;
            align-items: center;
            color: $PrimaryTextColor;
            font-size: $bigFont;
            gap: $gap;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
        gap: $gap;
        padding: $padding;
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border-radius: $borderRadius;
    background-color: $lightLightColor;
    box-shadow: $containerShadow;

    .inner-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 0;
        padding: $headerPadding;
        box-shadow: $underShadow;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        background-color: $PrimaryColor;

        &-title {
            display: flex;
            flex: 1;
            margin: 0px;
            color: $PrimaryTextColor;
            font-size: $mediumFont;
            gap: $gap;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding: $containerBottomPadding;
    }
    .empty {
        padding: $padding;
    }
}

.right-box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        align-content: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        color: $PrimaryTextColor;
        border-radius: $buttonBorderRadius;

        &:hover {
            background-color: $lightenColor;
        }
    }

    .item {
    }
}

.right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        align-content: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        color: $NormalTextColor;
        border-radius: $buttonBorderRadius;

        &:hover {
            background-color: $darkenColor;
        }
    }

    .item {
        color: $lightLightColor;
    }
}

.dropdown-show {
    animation-duration: 2s;
    animation-name: animate-container-visible;
}

.dropdown-hide {
    animation-duration: 0.5s;
    animation-name: animate-container-hidden;
    max-height: 8px;
    visibility: hidden;
}
