@import './../../../components/styles/Constants.scss';

// Custom Button

$buttonPadding: 6px 15px 6px 15px;
$buttonBorderRadius: 6px;
$buttonFontSize: 15px;

.default-btn, .warning-btn, .accept-btn {
    font-weight: bold;
    font-size: $buttonFontSize;
    padding: $buttonPadding;
    border-radius: $buttonBorderRadius;
    color: $lightLightColor;
    text-align: center;
    border: none;
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.4);

    &:hover {
        box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    }
}

.default-btn {
    background-color: $PrimaryColor;
    &:hover {
        background-color: darken($PrimaryColor, 5%);
    }
}
.warning-btn {
    background-color: $warningColor;

    &:hover {
        background-color: darken($warningColor, 5%);
    }
}
.accept-btn {
    background-color: $acceptColor;

    &:hover {
        background-color: darken($acceptColor, 5%);
    }
}

// Custom Input fields

.string-input {
    max-width: 100%;
    border: none;
    border-radius: $textInputBorderRadius;
    font-size: $normalFont;
    outline: none;
    transition: box-shadow 0.3s ease;

    &::placeholder {
        color: $darkenColor;
    }

    &:focus {
        box-shadow: $smallInsetBorderShadow;
    }
}
.info-input {
    max-width: 100%;
    border: none;
    border-radius: $textInputBorderRadius;
    font-size: $infoFontSize;
    color: $infoTextColor;
    outline: none;
    transition: box-shadow 0.3s ease;

    &::placeholder {
        color: $darkenColor;
    }

    &:focus {
        box-shadow: $smallInsetBorderShadow;
    }
}
.amount-input {
    text-align: center;
    max-width: 100%;
    border: none;
    border-radius: $textInputBorderRadius;
    font-size: $normalFont;
    outline: none;
    transition: box-shadow 0.3s ease;

    &:focus {
        box-shadow: $smallInsetBorderShadow;
    }
}

// Custom React-select fields
// Default
.default-input-select {
    position: relative;
    z-index: 100;

    .react-select__control {
        width: 150px;

        &:hover {
        }

        &.react-select__control--is-focused {
        }

        &.react-select__control--is-disabled {
        }

        .react-select__placeholder {
            padding: 0;
        }

        .react-select__value-container {
            padding: 0;
        }
    }

    .react-select__single-value {
        padding: 0;
    }

    .react-select__dropdown-indicator {


        &:hover {
        }

        .react-select__dropdown-indicator:hover {
        }
    }

    .react-select__menu {
        padding: 0;
    }

    .react-select__option {
        padding: 0;

        &:hover {
        }

        &--is-selected {
        }

        &--is-focused {
        }
    }

    .react-select__menu-list {
    }

    .react-select__clear-indicator {
    }
}

// Category/Header for new and edit units

.category-input-select {
    position: relative;
    z-index: 100;

    .react-select__control {
        width: 300px;
        background-color: $PrimaryColor;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px 10px 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
        padding: 0px 0px 0px 5px;
        border: 0px solid $PrimaryColor;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
        }

        &.react-select__control--is-focused {
        }

        &.react-select__control--is-disabled {
        }

        .react-select__placeholder {
            padding: 0;
        }

        .react-select__value-container {
            padding: 0;
        }
    }

    .react-select__single-value {
        font-weight: 500;
        color: $PrimaryTextColor;
        font-size: 1.4em;
    }

    .react-select__dropdown-indicator {
        color: $PrimaryTextColor;

        &:hover {
            color: $darkenColor;
        }

        .react-select__dropdown-indicator:hover {
        }
    }

    .react-select__menu {
        width: 300px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        z-index: 400;
        margin-top: 8px;
        border: 1px solid #ddd;
    }

    .react-select__option {
        cursor: pointer;
        font-size: 16px;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #f1f1f1;
            color: #007bff;
        }

        &--is-selected {
        }

        &--is-focused {
        }
    }

    .react-select__menu-list {
        max-height: 500px;
        overflow-y: auto;
    }

    .react-select__clear-indicator {
    }
}

