.percentage-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 42px;
    padding: 3px; 
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333;
    }