@import './../../../components/styles/Constants.scss';

.unit-dropdown {
    display: flex;
    flex-direction: row;
    padding: $padding;
    gap: $gap;
    box-shadow: $overShadow;
    min-height: 100px;

    .base-field-container {
        flex: 1;
        width: 75%;
        min-height: 10px;
    }

    .status-info-container {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: $smallGap;

        .status {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $gap;

            &-color {
                width: 20px;
                height: 20px;
                box-shadow: $baseLikeShadowSmall;
            }

            &-name {
                flex: 1;
                font-size: $normalFont;
            }

            &-percentage {
            }
        }
    }
}