@import './Container.scss';
@import './../../../components/styles/Constants.scss';

.unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap;
    padding: $unitSidePadding;
    min-height: $unitMinHeight;
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: $darkenColor;
        transition: background-color 0.1s ease-in;
    }

    .unit-info {
        display: flex;
        flex: 1;

        .amount {
            min-width: 6%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .name {
            flex-grow: 1;
            font-size: $normalFont;

            .info {
                position: relative;
                font-size: $infoFontSize;
                max-width: 340px;
                color: $infoTextColor;
                left: 10px;
            }

            .info-collapsed {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 1.2em;
                line-height: 1.2em;
                position: relative;
                font-size: $infoFontSize;
                max-width: 200px;
                color: $infoTextColor;
                left: 10px;
            }
        }
    }
}

