.army {
    border-radius: 10px;
    background-color: rgb(194, 240, 255);
    max-height: 100%;
    display: flex;
    flex-direction: column;

    &-header {
        border-radius: 10px 10px 0 0;
        background-color: rgb(0, 140, 184);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        

        &-title {
            flex: 1;
            margin: 0px;
            color: white;
            font-size: 1.8em;
        }

        &-right {
            display: flex;
            align-content: center;
            justify-content: center;
            gap: 8px;
            padding-right: 4px;
            
            &-new-unit {
                display: flex;
                align-content: center;
                justify-content: center;
            }
            &-edit {
                display: flex;
                align-content: center;
                justify-content: center;
            }
            &-remove {
                display: flex;
                align-content: center;
                justify-content: center;    
            }
        }
    }
    &-content {
        width: 100%;
        overflow: auto;
        height: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &-category {
            
            border-radius: 10px;
            padding: 5px;


            &-header {
                border-radius: 10px 10px 0 0;
                background-color: rgb(0, 140, 184);
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;

                &-title {
                    flex: 1;
                    margin: 0px;
                    color: white;
                    font-size: 1.2em;
                }

                &-right {
                    &-dummy-box {
                    }
                }
            }

            &-units {
                background-color: white;
                border-radius: 0 0 10px 10px;

                &-seperator {
                    height: 1px;
                    background-color: grey;
                }
                &-empty {
                    border-radius: 0 0 10px 10px;
                    height: 10px;
                    width: 100%;
                }
            }
        }
    }
}
.new-army {
    display: flex;
    min-height: 200px;
    gap: 10px;
    &-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &-inputs {
            flex-grow: 1;
            &-name {
                font-size: 1.1em;
            }
            &-name-field {
                
            }
        }
        &-button {
            
        }   
    }
    &-categories {
        display: flex;
        flex-direction: column;
        gap: 3px;
        &-header {
            display: flex;
            
            &-title {
                flex: 1;
                font-size: 1.1em;
                
            }
            &-amount {
                display: flex;
                flex-direction: row;
                gap: 3px;
                &-number {
                    font-size: 1.2em;
                }
            }
        }
        &-category {
            display: flex;
            gap: 5px;
        }
    }
}