@import './Constants.scss';

.ArmyList {
    //border: 1px solid black;
    display: flex;
    overflow-x: scroll;
    gap: $bigGap;
    background-color: $darkenColor;
    flex-grow: 1;
    padding: $bigPadding;

    .wrapper {
        height: 100%;
        width: $armyWidth;
        min-width: $armyWidth;
    }
}
