$header-color: rgb(0, 140, 184) ;
$header-text-color: rgb(255, 255, 255);
$outer-container-color: rgb(194, 240, 255);
$inner-container-color: rgb(255, 255, 255);


.outer {
    &-container {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        max-height: 100%;
        background-color: $outer-container-color;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 10px 10px 0 0;
            background-color: $header-color;
            padding: 6px 8px 6px 12px;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
            z-index: 1;
            

            &-title {
                flex: 1;
                margin: 0px;
                color: $header-text-color;
                font-size: 1.8em;
            }
        }

        &-content {
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding: 5px;
            overflow: auto;
            height: 100%;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        &-content-column {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px;
            overflow: auto;
            height: 100%;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
    }

    &-right-box {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;

        &-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-button {
            align-content: center;
            justify-content: center;
            color: $header-text-color;
            border: none;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        &-item {
            color: white;
        }
    }
}

.inner {
    &-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        max-height: 100%;
        background-color: $inner-container-color;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 10px 10px 0 0;
            background-color: $header-color;
            padding: 6px 8px 6px 8px;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
            z-index: 0;

            &-title {
                flex: 1;
                margin: 0px;
                color: $header-text-color;
                font-size: 1.4em;
            }
        }

        &-content {
            gap: 5px;
            display: flex;
            padding: 5px;
            flex-direction: row;
        }

        &-content-column {
            gap: 5px;
            display: flex;
            padding: 5px;
            flex-direction: column;
        }
    }

    &-right-box {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;

        &-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-button {
            align-content: center;
            justify-content: center;
            color: black;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        &-button:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &-item {
        }
    }
}

