 @import './constants.scss';

.category-input-select {
    position: relative;
    z-index: 100;
    .react-select__control {
        width: 300px;
        background-color: $header-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px 10px 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;      
        padding: 0px 0px 0px 5px;
        border: 0px solid $header-color;
        border-radius: 10px;
        cursor: pointer;

        &:hover {

        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
        }
    
        &.react-select__control--is-focused {
        }
    
        &.react-select__control--is-disabled {
        }
    
        .react-select__placeholder {
            padding: 0;
        }

        .react-select__value-container {   
            padding: 0;
        }
    }

    .react-select__single-value {
        font-weight: 500;
        color: $header-text-color;
        font-size: 1.4em;
    }
    
    .react-select__dropdown-indicator {
        color: $header-text-color;

    &:hover {
        color: $select-indicator;
    }

    .react-select__dropdown-indicator:hover {
    }
    }

    .react-select__menu {
        width: 300px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Slightly darker shadow
        overflow-y: auto;
        z-index: 400;
        margin-top: 8px; // Add space between dropdown and input
        border: 1px solid #ddd; // Soft border around the dropdown
    }

    // Styling individual option items in the dropdown
    .react-select__option {
        cursor: pointer;
        font-size: 16px;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
    
        &:hover {
            background-color: #f1f1f1;
            color: #007bff; // Change text color on hover for clarity
        }
    
        &--is-selected {
        }
    
        &--is-focused {
    }
    }

    // When the menu is open, apply styles to the menu list
    .react-select__menu-list {
        max-height: 500px;
        overflow-y: auto;
    }

    // Optionally, style the clear indicator (x) that clears the selection
    .react-select__clear-indicator {

    }
}
  