.settings {
    &-bases {
        display: flex;
        gap: 5px;

        &-title {
            padding: 0;
            font-size: 1.5em;
        }

        &-list {
            background-color: lightgray;
            width: 400px;
            height: 200px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            overflow-y: auto;

            &-item {
                display: flex;

                &-remove {
                }
            }
        }

        &-form {
            background-color: lightgray;
            display: flex;
            flex-direction: column;

            &-preview {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 200px;
            }

            &-input {
            }

            &-button {
            }
        }
    }

    &-status {
        display: flex;
        gap: 5px;

        &-title {
            padding: 0;
            font-size: 1.5em;
        }

        &-list {
            background-color: lightgray;
            width: 400px;
            height: 200px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            overflow-y: auto;

            &-item {
                display: flex;

                &-remove {
                }
            }
        }

        &-form {
            background-color: lightgray;
            display: flex;
            flex-direction: column;

            &-preview {
                width: 200px;
                height: 200px;
                transform: translate(-50%, -50%);
            }

            &-input {
            }

            &-button {
            }
        }
    }
}
