.army {
    background-color: white;

    &-header {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: brown;

        &-title {
            flex: 1;
            margin: 0px;
        }

        &-right {
            display: flex;

            &-percentage {
                height: 100%;
            }

            &-remove {
            }
        }
    }

    &-category {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: lightcoral;

        &-title {
            flex: 1;
            margin: 0px;
        }

        &-right {

            &-percentage {
            }
        }
    }
}
