.ArmyList {
    //border: 1px solid black;
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    background-color: lightgray;
    flex-grow: 1;
    padding: 5px;

    .wrapper {
        height: 100%;
        width: 500px;
        min-width: 500px;
    }
}
