.army {
    background-color: white;

    &-header {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: brown;

        &-title {
            margin: 0px;
        }

        &-total {
        }

        &-remove {
        }
    }

    &-category {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: lightcoral;
       

        &-title {
            margin: 0px;
            width: 84%;
        }

        &-total {
            width: 10%;
        }
    }
}
