.ArmyList {
    //border: 1px solid black;
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    background-color: lightgray;
    flex-grow: 1;
    .wrapper {
        height: 100%;
        overflow-y: auto;
        width: 500px
    }
}