.unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-top: 1px;
    background-color: lightpink;

    &-amount {
    }

    &-name {
        flex-grow: 1;

        &-info {
            font-size: 0.8em;
            color: #666;
        }
    }

    &-right {
        display: flex;
        align-content: center;
        gap: 3px;

        &-bases {
        }




        &-edit {
        }

        &-remove {
        }
    }
}
.unit-dropdown {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5px;
    margin-top: 1px;
    background-color: lightpink;

    &-base-box {
        width: 75%;
    }

    &-status-info {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 2px;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 4px;

            &-color {
                width: 18px;
                height: 18px;
            }

            &-name {
                flex: 1;
            }
        }
    }
}

