.unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding: 3px;
    &:hover {
        background-color: lightgray;
        transition: background-color 0.1s ease-in;
    }
    &-amount {
        min-width: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-name {
        flex-grow: 1;

        &-info {
            font-size: 0.8em;
            color: #666;
        }
    }
}
.unit-dropdown {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 1px;
    padding:3px;

    &-base-box {
        width: 75%;
    }

    &-status-info {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 2px;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 4px;

            &-color {
                width: 18px;
                height: 18px;
            }

            &-name {
                flex: 1;
            }
            &-percentage {

            }
        }
    }
}