/* ----------------------------- */
/* |  Unit Listing style  | */
/* ----------------------------- */


.unit-table {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.unit-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.unit-table-name {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #ccc;  
}
.unit-table-amount {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 25px;         
  background-color: #ccc;  
}
.unit-table-dropdown {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 40px;         
  background-color: #ccc;  
}
.unit-table-precentage {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 60px;         
  background-color: #ccc;  
}
.unit-table-right-button {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 25px;         
  background-color: #ccc;  
}



.div-table {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #ccc;  
}
.div-table-number {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 30px;         
  background-color: #ccc;  
}

/* ------------------------------- */
/* |  Adding/Editing unit style  | */
/* ------------------------------- */


.input-string {
  width: 20%
}
.input-integer {
  width: 5%
}


/* ----------------- */
/* |  Modal style  | */
/* ----------------- */

/* Modal (background) for clicking to exit */

/* ----------------- */
/* |  Bases style  | */
/* ----------------- */

/* Bases container */
.bases {
  border: 1px solid;
  display: flex;
}
/* between the bases */
.bases-divider {
  padding: 1px;
}
/* bases itself */
.bases-base {
  border: 1px solid;
}

